<%# locals: (build:) %>
<%= admin_error_list(build) %>

<%= form_with model: [:admin, build] do |f| %>
  <%= admin_card do %>
    <div class="mb-4">
      <%= f.label :title, class: admin_label_class %>
      <%= f.text_field :title, class: admin_input_class %>
    </div>
    <div class="mb-4">
      <%= f.label :description, class: admin_label_class %>
      <%= f.text_area :description, rows: 3, class: admin_input_class %>
    </div>
    <div class="mb-4">
      <%= f.label :url, class: admin_label_class %>
      <%= f.url_field :url, class: admin_input_class %>
    </div>
    <div class="mb-4">
      <%= f.label :icon_emoji, class: admin_label_class %>
      <%= f.text_field :icon_emoji, class: admin_input_class %>
    </div>
    <div class="mb-4">
      <%= f.label :status, class: admin_label_class %>
      <%= f.select :status, Build::STATUSES, {}, class: admin_input_class %>
    </div>
    <div class="mb-4">
      <%= f.label :kind, class: admin_label_class %>
      <%= f.select :kind, Build::KINDS, {}, class: admin_input_class %>
    </div>
    <div class="mb-4">
      <%= f.label :position, class: admin_label_class %>
      <%= f.number_field :position, class: admin_input_class %>
    </div>
    <div class="mb-4">
      <%= f.label :started_on, class: admin_label_class %>
      <%= f.date_field :started_on, class: admin_input_class %>
    </div>
    <div class="mb-4 last:mb-0">
      <%= f.label :finished_on, class: admin_label_class %>
      <%= f.date_field :finished_on, class: admin_input_class %>
    </div>
  <% end %>

  <%= f.submit "Save", class: btn_primary_class %>
<% end %>
